/*
    Product Catalog Stylesheet
*/

.products-grid {
    display: flex;
    gap: 10px;
    flex-wrap: wrap
}


.products-grid>* {
    flex: 1;
    min-width: 200px;
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 15px;
    padding: 20px 28px 30px 28px;
    border: 1px solid black;
}

.product-price {
    color: green;
}

select {
    width: fit-content;
    padding: 3px 5px;
    border-radius: 5px;
}

.added-to-cart {
    opacity: 0;
    color: var(--color-primary);
    font-size: 14px;
    margin: 10px 0;
}

.show-added-to-cart {
    opacity: 1;
}