@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   --primary-color: rgb(28, 190, 28);
}

body {
   margin: 0;
   margin-bottom: 50px;
}

header {
   display: flex;
   justify-content: space-around;
   height: 60px;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
}

a {
   text-decoration: none;
   color: black;
}

header div {
   display: flex;
   width: 100%;
   max-width: 60%;

   align-items: center;
}



main {
   margin-top: 200px !important;
   margin: auto;
   max-width: 70%;
}

input[type='text'] {
   width: 5%;
}

section {
   display: grid;
   grid-template-columns: 1fr 30%;
}


.middle-section {
   flex: 1;
   display: flex;
   justify-content: center;
   font-size: 25px;
}

.summary,
.payment-summary {
   gap: calc(5px + 1vh);
}

.payment-summary,
.cart-item {
   border: 1px solid rgba(0, 0, 0, 0.155);
   border-radius: 10px;
   padding: 15px 10px;
   display: flex;
   flex-direction: column;
   padding: 20px;
   height: fit-content;
}


.order-summary-title {
   margin-bottom: 10px;
}

.cart-summary,
.item-details {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.cart-summary button,
.span-button {
   width: fit-content;
   cursor: pointer;
   color: rgb(43, 0, 255);
}

.span-button:hover {
   text-decoration: underline;
   color: rgb(0, 178, 218)
}

.cart-item-details-grid {
   display: grid;
   grid-template-columns: 1fr 35%;
   gap: 10px;
}

b.red,
.red-text {
   color: red;
}

.green {
   color: green;
}

.quantity-container {
   display: flex;
   gap: 15px;
}

.date-container {
   display: flex;
   flex-direction: row;
   align-items: normal;
   gap: 5px;
   margin-top: 5px;
}

.delivery-price {
   color: rgb(97, 97, 97);
   font-size: 14px;
}

.delivery-date-title {
   margin-bottom: 10px;
   font-weight: 500;
   font-size: 20px;
   color: green;
}

.payment-summary {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.payment-summary-row {
   display: flex;
   justify-content: space-between;
   font-size: 15px;
}

.payment-summary-row div:nth-child(2) {
   letter-spacing: 1px;
}

.shipping-price,
.estimated-tax,
.payment-title {
   padding-bottom: 10px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.321);
}

.place-order-button {
   padding: 7px;
   border-radius: 7px;
   cursor: pointer;
   margin-top: 5px;
   color: white;
   background: var(--primary-color);
   border: none;

   transition: all 0.5s ease-in;
}

.place-order-button:hover {
   color: rgba(0, 0, 0, 0.658);
   background-color: rgba(255, 223, 41, 0.796)
}